ONESKY_API_KEY= #Set API key from translate.gulden.com here to be able to run translation scripts
NDK_ROOT= #Set this to a system or custom NDK path to have android build scripts use this as opposed to the ones fetched by fetch_android.sh
SKIP_DEPENDS= #Set this to 1 to skip building depends for android
SKIP_CONFIG= #Set this to 1 to skip running configure for android 
