# Set API key from translate.munt.org here to be able to run translation scripts
#ONESKY_API_KEY=

# Set this to a system or custom NDK path to have android build scripts use this as opposed to the ones fetched by fetch_android.sh
#NDK_ROOT=

# Comma delimited list of Android targets in mobile/android/build_targets/ for which to build the Unity library (if not set all will be build)
#NDK_TARGETS= aarch64-linux-android-clang,arm-linux-androideabi-clang

# Set this to 1 to skip building depends for android
#SKIP_DEPENDS=1

# Set this to 1 to skip running configure for android 
#SKIP_CONFIG=1

# Set for gencheckpoints.py usage
#CHECKPOINT_RPC_USER=xxx
#CHECKPOINT_RPC_PASSWORD=yyy
#CHECKPOINT_RPC_PORT=9232
#CHECKPOINT_RPC_IP=127.0.0.1
#CHECKPOINT_MSG_HEADER=fcfef7e0

