[Desktop Entry]
Encoding=UTF-8
Name=Guldencoin
Comment=Guldencoin P2P Cryptocurrency
Comment[fr]=Guldencoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Guldencoin, eşten eşe kriptografik sanal para birimi
Exec=guldencoin-qt %u
Terminal=false
Type=Application
Icon=guldencoin128
MimeType=x-scheme-handler/guldencoin;
Categories=Office;Finance;
