[Desktop Entry]
Encoding=UTF-8
Name=Gulden
Comment=Gulden P2P Cryptocurrency
Comment[fr]=Gulden, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Gulden, eşten eşe kriptografik sanal para birimi
Exec=Gulden %u
Terminal=false
Type=Application
Icon=gulden128
MimeType=x-scheme-handler/gulden;
Categories=Office;Finance;
