h1 {
  font-weight: 600;
  font-size: 3.2em;
  line-height: 1.2em;
  margin: 0 0 60px 0;
  letter-spacing: -0.02em;
}

h2 {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 1.4em;
  margin: 0 0 20px 0;
}

h3 {
  font-weight: 600;
  font-size: 1.7em;
  line-height: 1.2em;
  margin: 0 0 20px 0;
  letter-spacing: -0.01em;
}

h4 {
	font-weight: 600;
	font-size: .8em;
	line-height: 1.2em;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}

b,
strong {
  font-weight: 600;
}

p {
  margin: 0 0 30px 0;
  font-size: 1em;
  line-height: 1.45em;
  color: #222;
}

del {
  text-decoration: line-through;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #000;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a:hover {
  color: #000;
}

.select-all {
  user-select: all;
}

/* input */
input {
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
  height: 40px;
  width: 100%;
  padding: 10px;
  transition: all 0.3s;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 0px;
  border: 1px solid #ccc;
  color: #000;
  background-color: #fff;

  &:focus,
  &.success,
  &:focus.success {
    color: var(--success-color);
    border-color: var(--success-color);
  }

  &.error,
  &:focus.error {
    color: var(--error-color);
    border-color: var(--error-color);
  }
}

/* button */
button {
  padding: 0 20px 0 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased !important;
  transition: all 0.3s;
  border-radius: 0px;
  color: #fff;
  background-color: var(--button-color);

  &:hover {
    background-color: var(--button-hover-color);
  }

  &[disabled="disabled"],
  &[disabled="disabled"]:hover {
    background-color: var(--disabled-color);
    cursor: default;
  }
}

.important {
  color: var(--error-color);
}