@primary-color: #0039cc;

@success-color: @primary-color;
@error-color: #dd3333;
@disabled-color: #eee;

@success-color--hover: lighten(@success-color, 4%); 
@error-color--hover: lighten(@error-color, 8%);

:root {
  --primary-color: @primary-color;
  
  --error-color: @error-color;

  --success-color: @success-color;
  --error-color: @error-color;
  --disabled-color: @disabled-color;

  --success-color--hover: @success-color--hover;
  --error-color--hover: @error-color--hover;

  --header-height: 62px;
  --footer-height: 53px;
  
  --main-border-color: #ddd;

  --scrollbar-background-color: #fff;
  --thumb-background-color: var(--main-border-color);
}
