<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gulden.unity_wallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:name="ActivityManager"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <!-- As we are transparent don't request a screenOrientation - this causes errors on some phones -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpgradeActivity"
            android:label="Upgrading"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BlueBackground.NoActionBar" />
        <activity
            android:name=".WalletActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <!-- URI handlers for send fragment-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="gulden"/>
                <data android:scheme="Gulden" tools:ignore="AppLinkUrlError" />
                <data android:scheme="guldencoin"/>
                <data android:scheme="Guldencoin" tools:ignore="AppLinkUrlError" />
                <data android:scheme="iban"/>
                <data android:scheme="Iban" tools:ignore="AppLinkUrlError" />
                <data android:scheme="IBAN" tools:ignore="AppLinkUrlError" />
                <data android:scheme="sepa"/>
                <data android:scheme="Sepa" tools:ignore="AppLinkUrlError" />
                <data android:scheme="SEPA" tools:ignore="AppLinkUrlError" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BlueBackground.NoActionBar" />
        <activity
            android:name=".ui.EnterRecoveryPhraseActivity"
            android:label="@string/title_activity_enter_recovery_phrase"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ShowRecoveryPhraseActivity"
            android:label="@string/title_activity_enter_recovery_phrase"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.gulden.barcodereader.BarcodeCaptureActivity"
            android:label="@string/title_activity_barcode_capture"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransactionInfoActivity"
            android:label="@string/title_activity_transaction_info"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.monitor.NetworkMonitorActivity"
            android:label="Network monitor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LicenseActivity"
            android:label="License"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".SyncService" />

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
