/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/

/* -------------------------------------------------------------- Euclid Circular B */

@font-face{
    font-family: euclid;
    src: url("../fonts/EuclidCircularB-Light-WebS.eot?#iefix");
    src: url("../fonts/EuclidCircularB-Light-WebS.eot?#iefix") format("eot"),
    	 url("../fonts/EuclidCircularB-Light-WebS.woff2") format("woff2"),
    	 url("../fonts/EuclidCircularB-Light-WebS.woff") format("woff"),
    	 url("../fonts/EuclidCircularB-Light-WebS.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face{
    font-family: euclid;
    src: url("../fonts/EuclidCircularB-Regular-WebS.eot?#iefix");
    src: url("../fonts/EuclidCircularB-Regular-WebS.eot?#iefix") format("eot"),
    	 url("../fonts/EuclidCircularB-Regular-WebS.woff2") format("woff2"),
    	 url("../fonts/EuclidCircularB-Regular-WebS.woff") format("woff"),
    	 url("../fonts/EuclidCircularB-Regular-WebS.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face{
    font-family: euclid;
    src: url("../fonts/EuclidCircularB-Medium-WebS.eot?#iefix");
    src: url("../fonts/EuclidCircularB-Medium-WebS.eot?#iefix") format("eot"),
    	 url("../fonts/EuclidCircularB-Medium-WebS.woff2") format("woff2"),
    	 url("../fonts/EuclidCircularB-Medium-WebS.woff") format("woff"),
    	 url("../fonts/EuclidCircularB-Medium-WebS.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face{
    font-family: euclid;
    src: url("../fonts/EuclidCircularB-Semibold-WebS.eot?#iefix");
    src: url("../fonts/EuclidCircularB-Semibold-WebS.eot?#iefix") format("eot"),
    	 url("../fonts/EuclidCircularB-Semibold-WebS.woff2") format("woff2"),
    	 url("../fonts/EuclidCircularB-Semibold-WebS.woff") format("woff"),
    	 url("../fonts/EuclidCircularB-Semibold-WebS.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face{
    font-family: euclid;
    src: url("../fonts/EuclidCircularB-Bold-WebS.eot?#iefix");
    src: url("../fonts/EuclidCircularB-Bold-WebS.eot?#iefix") format("eot"),
    	 url("../fonts/EuclidCircularB-Bold-WebS.woff2") format("woff2"),
    	 url("../fonts/EuclidCircularB-Bold-WebS.woff") format("woff"),
    	 url("../fonts/EuclidCircularB-Bold-WebS.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

/* -------------------------------------------------------------- CSS Reset */

html, body, div, span, h1, h2, h3, h4, h5, h6, h7, p, a, img, strong, b, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul,li {
	list-style: none;
}

body {
	line-height: 1;
}

* {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center;-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, *, *:before, *:after {
   	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* :focus {outline: none;}

*, * :active {
	-webkit-tap-highlight-color: rgba(0,0,0,0.05);
}

/* -------------------------------------------------------------- Body */

html, body {
    height: 100%;
}

html {
  	overflow-y: scroll; 
}

body {
	-webkit-text-size-adjust: none;
	font-family: euclid, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7em;
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #fff;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* -------------------------------------------------------------- Fonts */

h1,h2,h3,h4,h5,h6,h7,h8,h9,h10 {
	float: left;
	width: 100%;
}

h1 {
	font-weight: 600;
	font-size: 3.2em;
	line-height: 1.2em;
	margin: 0 0 60px 0;
	letter-spacing: -.02em;
}

h2 {
	font-weight: 500;
	font-size: 1.2em;
	line-height: 1.4em;
	margin: 0 0 40px 0;
}

h3 {
	font-weight: 600;
	font-size: 1.7em;
	line-height: 1.2em;
	margin: 0 0 20px 0;
	letter-spacing: -.01em;
}

h4 {
	font-weight: 600;
	font-size: 1em;
	line-height: 1.2em;
	margin: 0 0 10px 0;
}

b,strong {
	font-weight: 600;
}

p {
	position: relative;
	float: left;
	width: 100%;
	margin: 0 0 40px 0;
	font-size: 1em;
	line-height: 1.45em;
	color: #222;
}

del {
    text-decoration: line-through;
}

a,a:active,a:visited {
	text-decoration: none;
	color: #000;
	-o-transition: all .3s;
  	-ms-transition: all .3s;
  	-moz-transition: all .3s;
  	-webkit-transition: all .3s;
 	transition: all .3s;
}

a:hover {
	color: #999;
}

/* -------------------------------------------------------------- Top */

.top {
	float: left;
	width: 100%;
	padding: 20px 0 20px 0;
	background-color: #000;
	z-index: 9998;
}

/* -------------------------------------------------------------- Logo */

.logo {
	float: left;
	width: 22px;
	height: 22px;
	background: url('../img/logo.png?v=00001') !important;
	background: url('../img/logo.svg?v=00001'), linear-gradient(transparent, transparent) !important;
	background-size: cover;	
}

@media (-webkit-min-device-pixel-ratio: 2) {
	.logo { 
		background: url('../img/logo@2x.png?v=00001') !important;
		background: url('../img/logo.svg?v=00001'), linear-gradient(transparent, transparent) !important;
	}
}

/* -------------------------------------------------------------- Balance */

.balance {
	position: relative;
	float: left;
    margin: 0 0 0 20px;
    color: #fff;
    line-height: 22px;
}

/* -------------------------------------------------------------- Section */

.section {
	position: relative;
	float: left;
    width: 100%;
	padding: 60px 0 60px 0;
}

/* -------------------------------------------------------------- Wrapper */

.wrapper {
	position: relative;
	float: left;
    width: 100%;
	padding: 0 40px 0 40px;
}

/* -------------------------------------------------------------- Proceed */

.proceed {
	float: right;
	padding: 0 20px 0 20px;
	font-family: euclid, Helvetica, sans-serif;
	font-style: normal;
	line-height: 44px;
	font-weight: 600;
	font-size: .8em;
	text-transform: uppercase;
	letter-spacing: .03em;
	text-align: center;
	color: #fff;
	text-decoration: none;
	border: 0;
    background-color: #009572;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased !important;
	-o-transition: all .3s;
  	-ms-transition: all .3s;
  	-moz-transition: all .3s;
  	-webkit-transition: all .3s;
 	transition: all .3s;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	border-radius: 0px;
}

.proceed:hover {
	background-color: #00a880;	
}

/* -------------------------------------------------------------- Phrase */

.phrase {
	float: left;
    width: 100%;
	padding: 20px;
	margin: 0 0 40px 0;
	font-size: 1.4em;
	font-weight: 500;
	text-align: center;
	background-color: #f5f5f5;
}

.phrase-repeat {
	float: left;
	width: calc(100% + 10px);
	margin: 0 -5px 40px -5px;
}

.phrase-repeat input {
	float: left;
	width: calc(8.33% - 10px);
	margin: 0 5px 0 5px;
	height: 40px;
	font-family: euclid, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	font-size: 16px;
	color: #000;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #fff;
    -webkit-appearance: none;
	-webkit-font-smoothing: antialiased !important;
	-o-transition: all .3s;
  	-ms-transition: all .3s;
  	-moz-transition: all .3s;
  	-webkit-transition: all .3s;
 	transition: all .3s;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	border-radius: 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.phrase-repeat input:active {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.phrase-repeat input:focus {
	color: #009572;
	border: 1px solid #009572;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* -------------------------------------------------------------- Phrase */

.password {
	float: left;
    width: 100%;
    margin: 0 0 20px 0;
}

.password-row {
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
}

.password input {
	float: left;
	width: 100%;
	height: 40px;
	font-family: euclid, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	font-size: 16px;
	color: #000;
	padding: 10px;
	border: 1px solid #ddd;
	background-color: #fff;
    -webkit-appearance: none;
	-webkit-font-smoothing: antialiased !important;
	-o-transition: all .3s;
  	-ms-transition: all .3s;
  	-moz-transition: all .3s;
  	-webkit-transition: all .3s;
 	transition: all .3s;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	border-radius: 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.password input:active {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.password input:focus {
	color: #009572;
	border: 1px solid #009572;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* -------------------------------------------------------------- Address */

.address {
	float: left;
    width: 100%;
    margin: 0 0 40px 0;
}

/* -------------------------------------------------------------- Transfer */

.transfer a,.transfer a:active,.transfer a:visited {
	float: left;
	padding: 0 25px 0 25px;
	font-style: normal;
	font-family: euclid, Helvetica, sans-serif;
	font-weight: 600;
	font-size: .8em;
	line-height: 44px;
	text-transform: uppercase;
	letter-spacing: .03em;
	color: #fff;
    background-color: #009572;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased !important;
	-o-transition: all .3s;
  	-ms-transition: all .3s;
  	-moz-transition: all .3s;
  	-webkit-transition: all .3s;
 	transition: all .3s;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	border-radius: 0px;
}

.transfer a:hover {
	background-color: #00a880;
}
