[Unit]
Description=Munt distributed currency daemon
After=network.target

[Service]
User=munt
Group=munt

Type=forking
PIDFile=/var/lib/munt_daemon/munt_daemon.pid
ExecStart=/usr/bin/Munt-daemon -daemon -pid=/var/lib/munt_daemon/munt_daemon.pid \
-conf=/etc/munt/munt.conf -datadir=/var/lib/munt_daemon -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
